// Custom Heading
.hd-intro {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  margin-bottom: 4.5rem;

  &::after,
  &::before {
    position: relative;
    content: '';
    width: 6rem;
    height: 3px;
    display: block;
    background-color: $clr-base-2;
    margin: 1rem auto;
  }
}

.hd-subs {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.lead {
  font-size: .9rem;
  text-align: justify;
}