// Colors Base
$clr-dark: #000;
$clr-white: #fff;

// Colors Custom
$clr-base: #196A8C;
$clr-base-2: #FFCB48;
$clr-lightnes: #595957;

// Fonts
$font-base: 'Open Sans', sans-serif;
$font-custom: 'Syncopate', sans-serif;